<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="style.css">
<title></title>
</head>
<body>
<!--<div>test</div>-->
<div ng-app="app">
    <div ng-controller="appCtrl">
        <div ng-include="'tva.html'">
        </div>
        <input ng-model="champMontant"  ng-change="validation()" placeholder="MONTANT" />
    
    <select ng-model="taxe" ng-change="validation()">
        <option>HT</option>
        <option>TTC</option>
    </select>
    <p>{{total}}</p>
        </div>
</div>
<script src="angular.min.js"></script>
<script src="script.js"></script>
</body>
</html>
